/* temp */

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
}

@media (min-width: 640px) {
  .form {
    grid-template-columns: max-content 1fr;
  }
}


.fieldset,
.legend,
.label {
    display: contents;
}

.labelText {
  grid-column-start: 1;
  grid-column-end: -1;
}

.controls {
  grid-column-start: 1;
  grid-column-end: -1;
}

.debug {
  grid-column-start: 1;
  grid-column-end: -1;
}

.errors {
  grid-column-start: 1;
  grid-column-end: -1;
}

@media (min-width: 640px) {
  .errors {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}
