/* temp */

.form {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  grid-row-gap: 10px;
}

.fieldset,
.legend,
.label {
    display: contents;
}

.labelText {
  grid-column-start: 1;
  grid-column-end: -1;
}

.controls {
  grid-column-start: 1;
  grid-column-end: -1;
}

.debug {
  grid-column-start: 1;
  grid-column-end: -1;
}